{# src\Devschool\CinemaBundle\Resources\views\Film\show.html.twig #}
{% extends 'DevschoolCinemaBundle::layout.html.twig' %}

{% block title %}{{ film.titre }}{% endblock %}

{% block body %}
<h1>{{ film.titre }}</h1>

<span>Ecrit par {{ film.realisateur.nom }}</span>

<p>{{ film.synopsis }}</p>

<span>categorie : {{ film.genre.nom }}</span>


<p><a href="{{ path('page_films') }}">Retour</a></p>
{% endblock %}